@model Pojisteni.Models.Insurance

@{
    ViewData["Title"] = "Nové pojištění";
}

<h1>@ViewData["CustomTitle"]</h1>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
            <div class="form-group col-md-6">
                <label asp-for="InsuranceName" class="control-label"></label>
                <select asp-for="InsuranceNameId" class="form-control" asp-items="ViewBag.InsuranceNameId"></select>
            </div>
            </div>
            <div class="row">
            <div class="form-group col-md-3">
                <label asp-for="Castka" class="control-label"></label>
                <input asp-for="Castka" class="form-control" />
                <span asp-validation-for="Castka" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="predmetPojisteni" class="control-label"></label>
                <input asp-for="predmetPojisteni" class="form-control" />
                <span asp-validation-for="predmetPojisteni" class="text-danger"></span>
            </div>
            </div>
            <div class="row">
            <div class="form-group col-md-3">
                <label asp-for="platnostOd" class="control-label"></label>
                <input asp-for="platnostOd" class="form-control" />
                <span asp-validation-for="platnostOd" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="platnostDo" class="control-label"></label>
                <input asp-for="platnostDo" class="form-control" />
                <span asp-validation-for="platnostDo" class="text-danger"></span>
            </div>
            </div>
            <div class="row">
            <div class="form-group col-md-6"
            @if(ViewBag.IsDefinedPerson)
            {
                <text>style = "display: none"</text>
            }>                      
                <label asp-for="Person" class="control-label"></label>
                <select asp-for="PersonId" class ="form-control" asp-items="ViewBag.PersonId"></select>
            </div>
            </div>
            <div class="offset-3">
                <input type="submit" value="Uložit" class="btn btn-primary tlacitko" />
            </div>
        </form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
