@model Pojisteni.Models.Insurance

@{
    ViewData["Title"] = "Editace pojištění";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InsuranceId" />
            <div class="form-group">
                <label asp-for="InsuranceName" class="control-label"></label>
                <select asp-for="InsuranceNameId" class="form-control" asp-items="ViewBag.InsuranceTypeId"></select>
                <span asp-validation-for="InsuranceNameId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Castka" class="control-label"></label>
                <input asp-for="Castka" class="form-control" />
                <span asp-validation-for="Castka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="predmetPojisteni" class="control-label"></label>
                <input asp-for="predmetPojisteni" class="form-control" />
                <span asp-validation-for="predmetPojisteni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="platnostOd" class="control-label"></label>
                <input asp-for="platnostOd" class="form-control" />
                <span asp-validation-for="platnostOd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="platnostDo" class="control-label"></label>
                <input asp-for="platnostDo" class="form-control" />
                <span asp-validation-for="platnostDo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person" class="control-label"></label>
                <select asp-for="PersonId" class="form-control" asp-items="ViewBag.PersonId"></select>
                <span asp-validation-for="PersonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Uložit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
