@model IEnumerable<Pojisteni.Models.InsuranceName>

@{
    ViewData["Title"] = "Přehled pojištění";
}

<h1>Přehled pojištění</h1>

<div class="text-center">
    <a class="btn btn-primary btn-lg" asp-action="Create">Nové Pojištění</a>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nazevPojisteni)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nazevPojisteni)
            </td>
            <td>               
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.InsuranceNameId">Odstranit</a>
            </td>
        </tr>
}
    </tbody>
</table>
