@{
    ViewData["Title"] = "Domovní stránka";
}

<div class="text-center">
    <h1>
        PojištěníApp
    </h1>
    <p>Tato aplikace slouží pro přehled našich pojištenců</p>
    <p>Špičkovou péči vám zaručujeme již od roku 2023</p>
</div>
